= render "groups/groups"

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      = link_to "Edit", 'edit_group_path', class: "chat-main__header--group-edit-btn"
    .chat-main__header-members
      MEMBER:
      %i
        - @members.each do |member|
          = member

  .chat-main__body
    = render @messages

  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message] do |f|
        .chat-main__footer-body
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'chat-file' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'image'
          = f.submit 'Send', class: 'submit'



